
:root {
   font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
   line-height: 1.5;
   font-weight: 400;

   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;

   --status-msg-top: 160px;
   --app-status-z-index: 9999;
}
html {
   scroll-behavior:smooth;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
*, *:before, *:after {
   -webkit-box-sizing: inherit;
   box-sizing: inherit;
}
body {
   margin: 0;
   width:100%;
   min-height: 100vh;
   color: var(--color-text);
   background: var(--color-background);
   line-height: 1.6;
   font-family:
      Inter,
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      'Fira Sans',
      'Droid Sans',
      'Helvetica Neue',
      sans-serif;
   font-size: 18px;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}


a {
   font-weight: 500;
   color: #646cff;
   text-decoration: inherit;
   cursor:pointer;
}
a:hover {
   color: #535bf2;
}

h1,h2,h3,h4,h5,h6 {
   margin: 0;
}
h1 {
   font-size: 3.2em;
   line-height: 1.1;
}
p {
   max-width:82ch;
}
pre,
code {
   margin:0;
   padding:0;
}

button {
   border-radius: 8px;
   border: 1px solid transparent;
   padding: 0.6em 1.2em;
   font-size: 1em;
   font-weight: 500;
   font-family: inherit;
   background-color: #1a1a1a;
   cursor: pointer;
   
   -webkit-transition: border-color 0.25s;
   -o-transition: border-color 0.25s;
   transition: border-color 0.25s;
}
button:hover {
   border-color: #646cff;
}
/* button:focus,
button:focus-visible {
   outline: 4px auto -webkit-focus-ring-color;
} */

.card {
   padding: 2em;
}

@media (prefers-color-scheme: light) {
   :root {
      color: #213547;
      background-color: #ffffff;
   }
   a:hover {
      color: #747bff;
   }
   button {
      background-color: #f9f9f9;
   }
}

#app {
   position:relative;
   width:100%;
   height:100%;
   margin:0;
   padding:0;
}

main {
   width:100%;
   height:100%;
   min-height:100vh;
   padding:0;
   margin:0;
}
ul {
   list-style: none;
}
.cursor_pointer {
   cursor: pointer;
}

/* 
   grid utilities
*/
.grid {
   display:-ms-grid;
   display: grid;
}
.section_grid {
   -ms-grid-columns:repeat(4, 1fr);
   grid-template-columns: repeat(4, 1fr);
}

/* 
   flex utilities
*/
.flex {
   display:-webkit-box;
   display:-ms-flexbox;
   display: flex;
}
.flex_col {
   -webkit-box-orient:vertical;
   -webkit-box-direction:normal;
   -ms-flex-direction:column;
   flex-direction: column;
}
.flex_row {
   -webkit-box-orient:horizontal;
   -webkit-box-direction:normal;
   -ms-flex-direction:row;
   flex-direction: row;
}
.flex_wrap {
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
}
.gap_1 {
   gap: 1rem;
}
.space_between {
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
}
.justify-end {
   -webkit-box-pack:flex-end;
   -ms-flex-pack:flex-end;
   justify-content:flex-end;
}
.justify_center {
   -webkit-box-pack:center;
   -ms-flex-pack:center;
   justify-content:center;
}
.justify_end {
   -webkit-box-pack:flex-end;
   -ms-flex-pack:flex-end;
   justify-content:flex-end;
}
.justify_around {
   -ms-flex-pack:distribute;
   justify-content:space-around;
}
.align_items_center {
   -webkit-box-align:center;
   -ms-flex-align:center;
   align-items:center;
}
.align_self_end {
   -ms-flex-item-align:end;
   align-self:flex-end;
}

/* 
   spacing utilities
*/
.m_1     {margin:1rem;}
.m_2     {margin:2rem;}
.mx_1    {margin-left: 1rem;margin-right: 1rem;}

.p_1     {padding: 1rem;}
.p_0\.5  {padding: 0.5rem;}
.py_0\.5 {padding-top: 0.5rem;padding-bottom: 0.5rem;}


.bordered {
   border: solid 1px lightgrey;
}

/* 
   position utilities
*/
.fixed {
   position:fixed;
}
.relative {
   position: relative;
}

/*
   text utilities
*/
.grey_text  {color:grey;}
.italic     {font-style:italic;}